<div>
  <div class="navbar">
    <ul>
      <li class="fLeft"><img src="assets/logo/turkcell-logo.png" alt="Turkcell"></li>
      <li class="fLeft"><a href="#index"><label>TURKCELL&nbsp;&nbsp;&nbsp;</label>|</a></li>
      <li class="fLeft"><a href="#index" style="color:darkblue">İletişim Roadmap</a></li>
      <li class="fRight"><img *ngIf="authentocationService.isUserLoggedIn()" src="assets/logo/logout.png" alt="Logout"
          (click)="logout()"></li>
      <li class="fRight"><a href="#index" class="userText">{{authentocationService.getUser()}}</a></li>
      <li class="fRight">
        <div class="filterSearch">
          <form class="formFilter">
            <input type="text" placeholder="" name="filtre" (change)="searchFilter($event.target.value)">
            <i class="fa fa-search"></i>
            <button type="submit">Ara</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <div class="subNavbar">
    <li class="fLeft">
      <div class="navDropdown">
        <a href="#iletisim-tipi-ekle">İletişim Tipi Ekle</a>
      </div>
      <div class="navDropdown">
        <a href="#iletisim-kategori-ekle">Bölüm Ekle</a>
      </div>
      <a href="#urun">Slot Ekle</a>
      <div class="navDropdown">
        <a (click)="changePreview()">Hesapla</a>
      </div>
      <div class="navDropdown">
        <a (click)="openCommunicationPopUp(content)">Düzenle</a>
      </div>

    </li>
    <li class="fRight fRightMargin" >
      <div class="navDropdown">
        <a (click)="createNewTimeline()">Kaydet</a>
      </div>
      <div class="navDropdown">
        <a (click)="createExcel()">Excele Aktar</a>
      </div>
      <div class="navDropdown">
        <!-- <select (change)="changeTimelineVersion($event.target.value)" #selectedTimeline>
          <option value="hide">Versiyon Seçiniz</option>
          <option *ngFor="let version of timelineVersion" [value]="version.id">
            {{version.name}}
          </option>
        </select> -->
      </div>
    </li>
  </div>
</div>


<ng-template #content let-modal>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" (click)="modal.dismiss('Cross click')">&times;</span>
        <h2>İletişim Tipi ve Bölüm Seçimi</h2>
      </div>
      <div class="comminucationInput"
        style="margin: auto; width: 100%; border: none; padding: 10px;box-sizing: border-box;">
        <div class="container">
          <div class="row">
            <div class="col-30">
              <label><b>Bölüm</b></label>
            </div>
            <div class="col-65">
              <ng-select [items]="category" [multiple]="true" bindLabel="name" [selectableGroup]="true"
                [closeOnSelect]="false" bindValue="id" [required]="categoryRequired" [(ngModel)]="selectedCategory"
                [ngModelOptions]="{standalone: true}">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  {{item.name}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                  {{item.name}}
                </ng-template>
              </ng-select>
              <div *ngIf="!categoryRequired && selectedCategory === undefined" class="invalidTooltip">
                <div *ngIf="selectedCategory === undefined">Bölüm bilgisinin seçilmesi zorunludur
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-30">
              <label><b>İletişim Tipi</b></label>
            </div>
            <div class="col-65">
              <ng-select [items]="type" [multiple]="true" bindLabel="name" [required]="typeRequired"
                [selectableGroup]="true" [closeOnSelect]="false" bindValue="id" required [(ngModel)]="selectedType"
                [ngModelOptions]="{standalone: true}">
                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                  {{item.name}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" />
                  {{item.name}}
                </ng-template>
              </ng-select>
              <div *ngIf="!typeRequired && selectedType === undefined" class="invalidTooltip">
                <div *ngIf="selectedType === undefined">İletişim tipinin seçilmesi zorunludur</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <input type="submit" class="inputButton" id="tlSubmit" value="Ekle"
            (click)="getTimelineByCriteria();modal.dismiss('Cross click')">
        </div>
      </div>
    </div>
  </div>
</ng-template>
