<div class="comminucationInput">
    <div class="container">
        <div class="row">
            <div class="col-30">
                <label for="fname"><b>İletişim Tipi</b></label>
            </div>
            <div class="col-70">
                <ng-select
                    [items]="type"
                    [multiple]="true"
                    bindLabel="name"
                    [selectableGroup]="true"
                    [closeOnSelect]="false"
                    bindValue="id"
                    [(ngModel)]="selectedType">
                    <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.gender | uppercase}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/> {{item.name}}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="row">
            <a href="#iletisim-tipi-ekle" id="ctaSubmit" value="Ekle">Ekle</a>
            <a href="#iletisim-tipi-sil" id="ccdSubmit" value="Ekle">Sil</a>
            <a href="#iletisim-tipi-guncelle" id="ccuSubmit" value="Ekle">Güncelle</a>
        </div>
    </div>
</div>