<div class="line" style="border-bottom: 0.5px solid black;">
    <div class="categoryTemplate"
        style="color:black;background-color:white;border-bottom: none;border-right: 0.5px solid black;border-left: 0.5px solid black;">
        <div class="verticalCenter">
            Toplam Tutar
        </div>
    </div>
    <div class="time">
        <ul class="ulBottomPrice">
            <li class="liPriceList" *ngFor="let price of monthlyPriceList" style="height: 40px;">{{price | number : '1.0-0':'tr'}}</li>
        </ul>
    </div>
    <div class="sideBudget" style="border-bottom: none;">
        <div class="verticalCenter">
            {{this.getTotalPrice(monthlyPriceList) | number : '1.0-0':'tr'}}
        </div>
    </div>
</div>