<div class="line" [ngStyle]="{'height': this.dynamicHeight + 'px'}">
    <div class="categoryTemplate">
        <div class="verticalCenter">
            {{this.category}}
        </div>
    </div>
    <div class="time">
        <gridster [options]="options"
            style="overflow: unset; padding: 0px;background-color:white;border-bottom: 0.5px solid black;">
            <gridster-item id="{{item.id}}" [item]="item" *ngFor="let item of dashboard"
                style="overflow:unset;margin-top:-0.5px;" #dragItem>
                <div class="item tooltip" [ngStyle]="{'background-color': item.color}">
                    <!--  [ngStyle]="{item.color === 'black' ? 'background-color:white': 'background-color:black'}" -->
                    <div [ngStyle]="{'color':item.color === 'black' ? 'white' : 'black' }" class="itemHolder" *ngIf="textArea.offsetWidth < dragItem.width">{{this.getItemName(item.id)}}</div>
                    <div class="shadowItemHolder" #textArea>{{this.getItemName(item.id)}}</div>
                    <span class="tooltiptext">
                        {{this.getItemName(item.id)}}
                        <br>
                        {{this.coordinationToDayTimeConverter(item.x, 'DD/MM/YYYY')}} -
                        {{this.coordinationToDayTimeConverter(item.x + item.cols,'DD/MM/YYYY')}}
                        <br>
                        <button (click)="deleteItem(item.id)">Sil</button>&nbsp;<button
                            (click)="cloneItem(item.id)">Kopyala</button>&nbsp;<button
                            (click)="updateItem(item.id)">Güncelle</button>
                    </span>
                </div>
            </gridster-item>
            <div class="verticalBox" [ngStyle]="{'height': this.dynamicHeight + 'px'}">
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
                <div class="verticalLine"></div>
            </div>
        </gridster>
    </div>
    <div class="sideBudget">
        <div class="verticalCenter">
            <label [hidden]="isPreviewOn"> {{this.totalBudget  | number}} </label>
        </div>
    </div>
</div>