<div class="comminucationInput">
    <a class="closeCommunication" href="#/">&times;</a>
    <div class="container">
        <div class="row">
            <div class="col-30">
                <label for="fname"><b>Bölüm</b></label>
            </div>
            <div class="col-65">
                <ng-select [items]="category" [multiple]="true" bindLabel="name" [selectableGroup]="true"
                    [closeOnSelect]="false" bindValue="id" [(ngModel)]="selectedCategory">
                    <ng-template ng-label-tmp let-item="item" let-clear="clear">
                        {{item.name}}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                        <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                    </ng-template>
                </ng-select>
                <div *ngIf="showCantDelete ||showNull" class="invalidTooltip">
                    <div *ngIf="showCantDelete">Kullanımda olan bölüm silinemez.</div>
                    <div *ngIf="showNull">Bölüm boş bırakılamaz</div>
                </div>
            </div>
        </div>
        <div class="row">
            <input type="submit" class="inputButton" id="ccdSubmit" value="Sil" (click)="deleteSelected()">
        </div>
    </div>
</div>
