<div class="line" style="margin-top:40px; border-top:0.5px solid black;border-left:0.5px solid black; margin-bottom:0.5px">
    <div class="category">
        {{this.selectedType}}
    </div>
    <div class="time">
        <div>
            <ul class="ulHeaderMonth">
                <li class="liHeaderTop" *ngFor="let month of monthList">
                    {{month}}
                    <ul class="ulHeaderWeek">
                        <li class="liHeaderNumberWeek" style="border-left: none;">1</li>
                        <li class="liHeaderNumberWeek" style="border-left: none;">2</li>
                        <li class="liHeaderNumberWeek" style="border-left: none;">3</li>
                        <li class="liHeaderNumberWeek" style="border-left: none;">4</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="sideCategory">
        <div class="verticalCenter">
            Toplam Tutar
        </div>
    </div>
</div>