<div class="productInput">
    <a class="closeCommunication" href="#/">&times;</a>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="container">
            <div class="row">
                <div class="col-25">
                    <label for="productNameInput"><b>Ürün İsmi</b></label>
                </div>
                <div class="col-65">
                    <input class="inputRight" type="text" id="productNameInput" name="İsim"
                        formControlName="productName" #productName>
                    <span class="inputCount">{{productNameLenght-productName.value.length}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label><b>Bölüm</b></label>
                </div>
                <div class="col-65">
                    <ng-select [items]="category" [multiple]="false" bindLabel="name" [selectableGroup]="true"
                        [closeOnSelect]="true" bindValue="id" [required]="categoryRequired"
                        [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}"
                        placeholder="Bölüm Seçiniz">
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                [ngModelOptions]="{standalone: true}" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label><b>İletişim Tipi</b></label>
                </div>
                <div class="col-65">
                    <ng-select [items]="type" [multiple]="false" bindLabel="name" [required]="typeRequired"
                        [selectableGroup]="true" [closeOnSelect]="true" bindValue="id" required
                        [(ngModel)]="selectedType" [ngModelOptions]="{standalone: true}" placeholder="Tip Seçiniz">
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                [ngModelOptions]="{standalone: true}" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="fname"><b>Başlangıç ve Bitiş Tarihi</b></label>
                </div>
                <div class="col-65">
                    <div class="dropdown">
                        <input type="text" id="beginEndDateInput" name="Tarih"
                            value={{this.dateLabel}} disabled>
                        <span class="iconLabel" style="opacity: 1;"><img
                                style="height: 25px;width: 25px;padding-top:10px;opacity: 1;"
                                src="assets/logo/calendar.png" alt="Takvim"></span>
                        <div class="dropdown-content">
                            <ngb-datepicker #dp formControlName="beginEndDate" (dateSelect)="onDateSelection($event)"
                                [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                            </ngb-datepicker>

                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label><b>Süre</b></label>
                </div>
                <div class="col-65">
                    <input class="weekButton" type="button" id="firstWeek" value="1 Hafta" (click)="setNextWeek(1)">
                    <input class="weekButton" type="button" id="secondWeek" value="2 Hafta" (click)="setNextWeek(2)">
                    <input class="weekButton" type="button" id="thirdWeek" value="3 Hafta" (click)="setNextWeek(3)">
                    <input class="weekButton" type="button" id="fourthWeek" value="4 Hafta" (click)="setNextWeek(4)">
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="budgetInput"><b>Bütçe</b></label>
                </div>
                <div class="col-65">
                    <input type="number" id="budgetInput" name="Bütçe" required min="0" formControlName="budget">
                    <span class="inputLabel">TL</span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="explanationInput"><b>Açıklama</b></label>
                </div>
                <div class="col-65">
                    <textarea type="text" id="explanationInput" name="Açıklama" formControlName="explanation"
                        #explanation></textarea>
                    <span class="textAreaCount">{{explanationLenght-explanation.value.length}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="productNameInput"><b></b></label>
                </div>
                <div *ngIf="showFileUpload" class="col-65">
                    <div class="upload-btn-wrapper">
                        <button class="btn">Dosya Yükleyiniz</button>
                        <input type="file" name="file" (change)="fileChange($event)" />
                        <span class="iconLabel" style="opacity: 1;"><img style="height: 35px;width: 35px;opacity: 1;"
                                src="assets/logo/cloud.png" alt="Yükle"></span>
                    </div>
                    <div class="fileName" *ngIf="showOKFileStatus && showFileUpload">{{this.base64FileName}}</div>
                    <button *ngIf="showFileLink" type="button" class="button"
                        (click)="makeFile()">{{this.base64FileName}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label><b>Renk</b></label>
                </div>
                <div class="col-65">
                    <ng-select [items]="color" [multiple]="false" bindLabel="name" [required]="colorRequired"
                        [selectableGroup]="true" [closeOnSelect]="true" bindValue="id" required
                        [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}" placeholder="Renk Seçiniz">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                [ngModelOptions]="{standalone: true}" /> {{item.gender | uppercase}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"
                                [ngModelOptions]="{standalone: true}" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="productNameInput"><b>Talep Sahibi</b></label>
                </div>
                <div class="col-65">
                    <input class="inputRight" type="text" id="requestOwnerInput" formControlName="requestOwner"
                        name="Talep Sahibi" #requestOwner>
                </div>
            </div>
            <div class="row">
                <input type="button" class="inputButton" id="ctaSubmit" value={{this.submitText}}
                    [disabled]="!isButtonAble ? 'disabled': null" (click)="onSubmit()" />
            </div>
            <div class="row">
                <div *ngIf="!isButtonAble" class="validTooltip">
                    <div *ngIf="!isButtonAble">Ürün {{this.successText}} işlemi tamamlandı.</div>
                </div>
            </div>
        </div>
    </form>
</div>
