<div class="loginInput" style="border-style: groove">
  <div class="header">
    <span style="color:white; font-weight: bold;font-size: 24px;">Kullanıcı Girişi</span>
  </div>
  <div class="container" >
    <form>
      <div class="row" *ngIf="invalidLogin">
        <label style="font-size: 14px; color:red;margin-bottom: -15px;">Kullanıcı adı veya şifre yanlış!</label>
      </div>
      <div class="row">
        <label style="font-size: 16px; margin-bottom: -5px">Kullanıcı Adı</label>
      </div>
      <div class="row">
        <input style="font-size: 12px; padding: 5px" type="text" name="username" [(ngModel)]="username" (ngModelChange)="formChange()">
      </div>
      <div class="row">
        <label style="font-size: 16px; margin-bottom: -5px">Şifre</label>
      </div>
      <div class="row">
        <input style="font-size: 12px; padding: 5px" type="password" name="password" [(ngModel)]="password" (ngModelChange)="formChange()">
      </div>
      <div class="row">
        <input style="padding: 5px" type="button" class="inputButton" (click)=checkLogin() value="Giriş"/>
      </div>
    </form>
  </div>
</div>
