<div class="comminucationInput">
    <a class="closeCommunication" href="#/">&times;</a>
    <div class="container">
        <form [formGroup]="typeForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-30">
                    <label for="fname"><b>İletişim Tipi</b></label>
                </div>
                <div class="col-65">
                    <input type="text" id="ctaInput" name="Type" (ngModelChange)="formChange()" formControlName="typeName" #typeName>
                    <span class="inputCount">{{typeNameLenght-typeName.value.length}}</span>
                    <div *ngIf="typeName.value.length == 0 && added" class="validTooltip">
                        <div *ngIf="added">İletişim Tipi Eklendi</div>
                    </div>
                    <div *ngIf="cantAdd" class="invalidTooltip">
                        <div *ngIf="cantAdd">Aynı tip birden fazla eklenemez.</div>
                    </div>
                    <div *ngIf="(submitted && f.typeName.errors) || typeNameLenght - typeName.value.length < 0"  class="invalidTooltip">
                        <div *ngIf="f.typeName.errors.required">Tip ismi boş bırakılamaz</div>
                        <div *ngIf="f.typeName.errors.maxlength || typeNameLenght-typeName.value.length < 0">Tip ismi {{typeNameLenght}} karakterden büyük olamaz</div>
                        <div *ngIf="f.typeName.errors.minlength">Tip ismi 1 karakterden küçük olamaz</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="inputButton" id="ctaSubmit" value="Ekle">
                <input type="submit" class="inputButton" (click)="redirect('iletisim-tipi-sil')" value="Sil">
            </div>
        </form>
    </div>
</div>
