<app-timeline-header></app-timeline-header>
<div *ngFor="let time of timelineGroup | filter: searchText">
    <app-time-drag [timeDragMessage]="time"></app-time-drag>
</div>
<app-timeline-footer [montlyPrice]="priceList" [hidden]="isPreviewOn"></app-timeline-footer>
<div class="line">
    <div class="categoryBottom">
        <select (change)="changeTimelineVersion($event.target.value)" #selectedTimeline>
            <option value="hide">Versiyon Seçiniz</option>
            <option *ngFor="let version of timelineVersion" [value]="version.id">
                {{version.name}}
            </option>
        </select>
    </div>
    <div class="categoryBottom">
        
    </div>
    <div class="timeBottom">

    </div>
    <div class="categoryBottom">
        
    </div>
</div>