<div class="comminucationInput">
    <a class="closeCommunication" href="#/">&times;</a>
    <div class="container">
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-30">
                    <label for="fname"><b>Bölüm</b></label>
                </div>
                <div class="col-65">
                    <input type="text" id="ccaInput" name="category" (ngModelChange)="formChange()"
                        formControlName="categoryName" #categoryName>
                    <span class="inputCount">{{categoryNameLenght-categoryName.value.length}}</span>
                    <div *ngIf="categoryName.value.length == 0 && added" class="validTooltip">
                        <div *ngIf="added">Bölüm Eklendi</div>
                    </div>
                    <div *ngIf="cantAdd" class="invalidTooltip">
                        <div *ngIf="cantAdd">Aynı bölüm birden fazla eklenemez.</div>
                    </div>
                    <div *ngIf="(submitted && f.categoryName.errors) || categoryNameLenght - categoryName.value.length < 0"
                        class="invalidTooltip">
                        <div *ngIf="f.categoryName.errors.required">Bölüm ismi boş bırakılamaz</div>
                        <div
                            *ngIf="f.categoryName.errors.maxlength || categoryNameLenght-categoryName.value.length < 0">
                            Bölüm ismi {{categoryNameLenght}} karakterden büyük olamaz</div>
                        <div *ngIf="f.categoryName.errors.minlength">Bölüm ismi 1 karakterden küçük olamaz</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="submit" class="inputButton" id="ccaSubmit" value="Ekle">
                <input type="submit" class="inputButton" (click)="redirect('iletisim-kategori-sil')" value="Sil">
            </div>
        </form>
    </div>
</div>
