@import "~@ng-select/ng-select/themes/default.theme.css";
$softGray-color: #e4e4e4;
$softOrange-color: rgb(234, 178, 139);

body {
  margin: 0px;
  font-family: "Turkcell Satura", Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

input,
textarea {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.navbar {
  height: 50px;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;

    li {
      margin-top: 4px;
      margin-bottom: 4px;
      a {
        display: block;
        color: #666;
        text-align: center;
        padding: 12px 6px;
        text-decoration: none;

        label {
          color: #234d9f;
          font-weight: bold;
        }
      }

      img {
        vertical-align: middle;
        width: 25px;
        height: 25px;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
}

.ulHeaderMonth {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  color: white;
  background-color: darkblue;
  height: 25px;
  font-size: 14px;
}

.ulBottomPrice {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  height: 25px;
  font-size: larger;
}

.ulHeaderWeek {
  width: 100%;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 0;
  color: white;
  background-color: darkblue;
  height: 40px;
}

.liHeaderNumberWeek {
  border: 0.5px solid white;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
  margin-right: -0.5px;
}

.liHeaderTop {
  display: table-cell;
  text-align: center;
  border-right: 0.5px solid white;
  vertical-align: middle;
  word-wrap: break-word;
  margin-right: -0.5px;
}

.liPriceList {
  display: table-cell;
  text-align: center;
  border-right: 0.5px solid black;
  vertical-align: middle;
  word-wrap: break-word;
  margin-right: -0.5px;
}

.liHeaderBottom {
  display: table-cell;
  text-align: center;
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black;
  vertical-align: middle;
  word-wrap: break-word;
  margin-right: -0.5px;
}

.headerTemplate {
  width: 100%;
  background-color: darkblue;
}

.categoryTemplate {
  color: white;
  background-color: darkblue;
  width: 10%;
  vertical-align: middle;
  display: inline-block;
  border-right: 0.5px solid white;
  border-bottom: 0.5px solid white;
}

.verticalBox {
  overflow: hidden;
  border-right: 0.5px solid black;
}

.verticalLine {
  float: left;
  overflow: hidden;
  border-right: 0.1px solid black;
  height: 100%;
  width: 8.33%;
}

.gridsterTemplate {
  border: 0.5px solid black;
  overflow: unset;
  padding: 0px;
  background-color: white;
}

.fRight {
  float: right;
}


.fLeft {
  float: left;
}

.previewSwitch {
  margin-right: 20px;
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    padding: 10px;
    cursor: pointer;
    text-indent: 35px;
    width: 150px;
    height: 22px;
    background: $softGray-color;
    display: block;
    position: relative;
    border-radius: 5px;

    &:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 2px;
      width: 37.5px;
      height: 37.5px;
      background: #fff;
      transition: 0.3s;
      border-radius: 5px;
    }
  }

  input:checked + label {
    background: #2955ad;

    &:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }

  label:active:after {
    width: 100px;
  }
}

.filterSearch {
  position: relative;
  margin-right: 2px;
  form.formFilter {
    margin: auto;
    max-width: 300px;
    input[type="text"] {
      padding: 10px;
      padding-left: 25px;
      font-size: 17px;
      border: 1px solid grey;
      float: left;
      width: 80%;
      background: $softGray-color;
      box-sizing: border-box;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    button {
      float: left;
      width: 20%;
      padding: 10px;
      background: #f2f2f2;
      color: black;
      font-size: 17px;
      border: 1px solid grey;
      border-left: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;
      &:hover {
        background: #f2f2f2;
      }
    }
    i {
      position: absolute;
      left: 0;
      top: 4px;
      padding: 9px 8px;
      color: black;
      transition: 0.3s;
    }

    &::after {
      content: "";
      clear: both;
      display: table;
    }
  }
}

.userText {
  text-transform: uppercase;
  margin-left: 15px;
  margin-right: 15px;
}

.button {
  background-color:darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-decoration-line: none;
}

.fileName {
  width: fit-content;
  background-color: darkblue;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  text-decoration-line: none;
}

.dashboardButton {
  background-color: darkblue;
  border-radius: 4px;
  color: white;
  padding: 2px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border: none;
  cursor: pointer;
  float: right;
  width: 70px;
  margin-right: 35px;
}

.comminucationInput {
  margin: auto;
  margin-top: 50px;
  width: 40%;
  border: 3px solid black;
  padding: 10px;
  box-sizing: border-box;

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 12px;
    padding-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }

  .inputButton,
  .communicationButton {
    background-color: darkblue;
    border-radius: 4px;
    color: white;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    width: 70px;
    margin-top: 10px;
    margin-right: 35px;
  }

  .inputButton:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .col-30 {
    float: left;
    width: 30%;
  }

  .col-75 {
    float: left;
    width: 75%;
  }

  .col-65 {
    float: left;
    width: 65%;
  }

  .col-70 {
    float: left;
    width: 70%;
  }

  .row {
    margin-top: 15px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.productInput {
  margin: auto;
  margin-top: 50px;
  width: 40%;
  border: 3px solid black;
  padding: 10px;
  box-sizing: border-box;

  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 12px;
    padding-right: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    box-sizing: border-box;
  }

  .inputButton,
  .communicationButton {
    background-color: darkblue;
    border-radius: 4px;
    color: white;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border: none;
    cursor: pointer;
    float: right;
    width: 70px;
    margin-top: 10px;
    margin-right: 35px;
  }

  .weekButton {
    background-color: darkblue;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 2px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    width: 70px;
    margin-right: 10px;
    margin-top: 10px;
  }

  .inputButton:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }

  .col-25 {
    float: left;
    width: 25%;
  }

  .col-75 {
    float: left;
    width: 75%;
  }

  .col-70 {
    float: left;
    width: 70%;
  }

  .col-65 {
    float: left;
    width: 65%;
  }

  .row {
    margin-top: 15px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.loginInput {
  margin: auto;
  margin-top: 50px;
  width: 300px;
  border: 3px solid darkblue;
  box-sizing: border-box;

  input[type="text"],
  input[type="password"],
  input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 12px;
    padding-right: 50px;
    border: 1px solid #ccc;
    resize: vertical;
    box-sizing: border-box;
  }

  .inputButton {
    background-color: darkblue;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    float: right;
    margin-top: 10px;
    text-decoration-line: none;
    width: 100%;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
  }

  .header {
    overflow: hidden;
    background-color: darkblue;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: gray;
  }

  .row {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 1.6rem;
  width: 1.5rem;

  &.focused {
    background-color: #e6e6e6;
  }

  &.range,
  &:hover {
    background-color: rgb(2, 117, 216);
    color: white;
  }

  &.faded {
    background-color: rgba(2, 117, 216, 0.5);
  }
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.invalidTooltip {
  position: relative;
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(220, 53, 69, 0.9);
  border-radius: 0.25rem;
}

.validTooltip {
  position: relative;
  top: 100%;
  z-index: 5;
  max-width: 100%;
  padding: 0.25rem 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #fff;
  background-color: rgba(53, 139, 220, 0.9);
  border-radius: 0.25rem;
}

.inputCount {
  margin: -30px;
  opacity: 0.4;
  color: green;
}

.inputLabel {
  margin: -30px;
  opacity: 0.4;
}

.iconLabel {
  margin-bottom: -50px;
  margin-left: -40px;
  padding-bottom: 5px;
  position: absolute;
}

input:disabled {
  cursor: default;
  background: white;
  color: black;
}

.textAreaCount {
  margin-bottom: -50px;
  margin-left: -40px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.4;
  color: green;
  position: absolute;
}

.line {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}

.item {
  width: 100%;
  height: 100%;
  touch-action: none;
  font-size: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .itemContent {
    text-align: center;
    font-family: "Turkcell Satura", Arial, sans-serif;
    font-size: 2em;
    color: black;
  }
}

.category {
  width: 10%;
  vertical-align: middle;
  display: inline-block;
  border-right: 0.5px solid black;
}

.sideCategory,
.sideBudget {
  width: 10%;
  vertical-align: middle;
  display: inline-block;
  border-right: 0.5px solid black;
  border-bottom: 0.5px solid black;
}

.categoryBottom {
  margin: 10px;
  word-break: break-all;
  vertical-align: middle;
  display: inline-block;
}

.headerChoice {
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  color: darkblue;
  word-wrap: normal;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  border-right: 0.5px solid white;
  border-top: 0.5px solid black;
  font-weight: 700;
  margin-top: 0.5;
  &:hover {
    background: darkblue;
    color: white;
  }
}

.time {
  width: 100%;
}

.timeBottom {
  width: 80%;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  border-right: 0.5px solid black;
}

.tooltip {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translateX(-50%);
    width: auto;
    white-space: nowrap;
    background: white;
    color: gray;
    border-radius: 2px;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
    font-size: 14px;
    padding: 3px 5px;
    z-index: 6;
  }

  &:hover .tooltiptext {
    visibility: visible;
  }
}

.modal {
  /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
}

.closeCommunication {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  margin-top: -10px;
}

.closeCommunication:hover,
.closeCommunication:focus,
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #f2f2f2;
  color: black;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #f2f2f2;
  color: black;
}

[hidden] {
  display: none !important;
}

gridster-item:hover {
  z-index: 2;
}

gridster-item {
  margin-bottom: -1px;
  height: 59px !important;
}

.gridster-preview {
  display: none !important;
}

.gridster-item-resizable-handler {
  &.handle-e,
  &.handle-w {
    cursor: ew-resize;
    width: 2px !important;
    bottom: 0;
    right: 0;
    top: 0;
  }
}

.subNavbar {
  overflow: hidden;
  background-color: darkblue;

  li {
    list-style-type: none;
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: darkblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-right: 225px;
  }

  a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
}

.navDropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}

.subNavbar a:hover,
.navDropdown:hover .dropbtn {
  background-color: #f19500;
}

.navDropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;

  a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;

    &:hover {
      background-color: #ddd;
    }
  }
}

.navDropdown:hover .navDropdown-content {
  display: block;
}

.ng-select .ng-select-container {
  cursor: default;
  display: -webkit-box;
  display: flex;
  outline: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 41px;
}

.verticalCenter {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  box-sizing: content-box;
  background: none;
  border: 0;
  box-shadow: none;
  outline: 0;
  cursor: default;
  width: 100%;
  padding: unset;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  font-size: 0.9em;
  margin-bottom: 5px;
  background-color: unset;
  border-radius: 2px;
  margin-right: 5px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  input[type="file"] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  button {
    width: 100%;
    border: 1px solid #ccc;
    color: ccc;
    background-color: white;
    padding: 8px 10px;
    font-size: 16px;
    font-weight: normal;
    flex-direction: column;
  }

  i {
    margin-right: -45px;
    margin-bottom: -45px;
    margin-left: -45px;
    opacity: 0.4;
    font-size: xx-large;
    padding-top: 2px;
    position: absolute;
    color: black;
  }
}

.ckButton {
  background-color: orange;
  color: balck;
  padding: 9px 10px;
  border: none;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  &:hover {
    background: rgb(255, 153, 0);
  }
  label {
    float: left;
    width: 4em;
    span {
      text-align: center;
      padding: 3px 0px;
      display: block;
      position: relative;
      top: 50%;
    }
    input {
      position: absolute;
      top: -20px;
    }
  }
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: black;
}

.ng-select.ng-select-opened.ng-select-top > .ng-select-container {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: $softGray-color;
}

.ng-select .ng-select-container {
  color: #333;
  background-color: $softGray-color;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  -webkit-box-align: center;
  align-items: center;
}

.itemHolder {
  display: inherit;
  width: 100%;
  font-size: 10px;
  font-size: 1vw;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.shadowItemHolder {
  width: 100%;
  font-size: 10px;
  font-size: 1vw;
  display: inline;
  visibility: hidden;
}
